{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}

    <h1>{{ project.title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Client</th>
            <td>{{ project.client.companyName }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ project.status }}</td>
        </tr>
        <tr>
            <th>Budget</th>
            <td>{{ project.budget }} €</td>
        </tr>
        <tr>
            <th>Date limite</th>
            <td>{{ project.deadline ? project.deadline|date('d/m/Y') : 'Non définie' }}</td>
        </tr>
        <tr>
            <th>Créé le</th>
            <td>{{ project.createdAt ? project.createdAt|date('d/m/Y') : '-' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_index') }}">← Retour à la liste</a>
    <a href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
    {{ include('project/_delete_form.html.twig') }}

{% endblock %}
